html,
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    background-image: url('../images/waves.jpeg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
