body {
    background-color: #242424;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 65px;
}

.top {
    text-align: center;
    font-size: 24px
}

h1 {
    font-weight: bold;
    float: left;
    padding-bottom: 20px;
}

h2 {
    margin: 0;
    padding-bottom: 10px;
}

h3 {
    margin: 0;
    padding-top: 12.5px
}

h4 {
    margin: 0;
    padding-top: 0px
}

p {
    margin: 0;
}

.info {
    text-align: right;
}

.section {
    padding-top: 25px;
}

.lists{
    margin: right
}

#removepadding{
    padding-top: 0
}