img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Arial";
    font-family: 'Montserrat', sans-serif;
}

div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF9800;
}

li:last-child {
    border-right: none;
}

.footer{ 
    position: fixed;    
    bottom: 5px;
} 