html {
    font-family: 'Playfair Display';
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    background-color: #fcfcf5
}

p {
    font-family: 'Playfair Display';
    font-size: 20px;
}

#header {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    line-height: 15px
}

.subtext {
    font-family: 'Libre Baskerville', serif;
    line-height: 15px;
    color: #5e5e5e;
    font-size: 20px
}

#titlebar {
    text-align: right;
}