body {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
    background-color: white;
    font-family: 'IBM Plex Serif', serif;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#rightObject {
    float: left;
}

#centerheader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    background-color: whitesmoke;
    color: #242424;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:link,
a:visited {
    background-color: #242424;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}